*{
  font-family: 'Lato', sans-serif;

}
.score{
  width: 100%;
}
.scoreTable{
  border: 1px solid #7d7d7d;
  border-radius: 2px;
}
.tableMobile {
    position: absolute;
    top:20%;
    right: 12%;
  background-color: #cccccc;
  border: 2px solid #7d7d7d;
  width: 75%;
}
.centerCardMobile {
  position: absolute;
  width: auto;
  height: 100px;
  top:65%;
  left:  calc(50% - 32px);
  border-radius: 5px;
  border: 2px solid #7d7d7d;
}
#stopwatchMobile {
  border: 2px solid#7d7d7d;
  padding: 10px;
  width: 45%;
  border-radius: 5px;
  float: right;
}
.resultMobile {
  margin: 15px;
}
.largeMobile {
  font-size: 35px;
}
.mediumMobile {
  font-size: 10px;
}
.smallMobile {
  font-size: 20px;
}
.centerMobile {
    left: 45%;
    position: absolute;
}


.borderless td,
.borderless th {
  border: none;
}
.startingCards {
  background-color: #cccccc;
  border: 2px solid #7d7d7d;
  border-radius: 5px !important;
  position: absolute;
  top: 300px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.center {
  position: absolute;
  right: 45%;
}
.centerCard {
  position: absolute;
  left: 50%;
  width: auto;
  height: 200px;
  margin-top: 20px;
  margin-left: -80px;
  border-radius: 5px;
  border: 2px solid #7d7d7d;
  top: 435px;
}
#stopwatch {
  border: 2px solid#7d7d7d;
  padding: 10px;
  width: 25%;
  border-radius: 5px;
  float: right;
}
.large {
  font-size: 60px;
  margin: 5px;
}
.medium {
  font-size: 30px;
}
.small {
  font-size: 40px;
}

