
<h1 style="text-align:center">Test sortowania kard z Wisconsin</h1>
<a *ngIf="isRuleChecked">{{rule.name}}</a>
<h3 style="text-align:center">{{result}}</h3>
<hr>
<button *ngIf="!isStarted" type="button" class="btn btn-secondary btn-lg" (click)="getStartingCards(); getRandomCard();">
Start
</button>
<!-- <img *ngIf="imagePath" [src]="imagePath"/> -->
<div class="row">
  <div class="col-sm-6">
    <table class="table borderless" >
      <thead>
        <th *ngFor='let element of startingCards'>
         <tr>
            <td><img *ngIf="element" [src]='element.imgbase' height="160" width="auto" (click)="checkCard(element)"/></td>
          </tr>
        </th>
      </thead>
    </table>
  </div>
  <div *ngIf="isStarted" class="col-sm-6 card">
        <img *ngIf="card" [src]='card.imgbase' height="180" width="auto" class="center"/>
  </div>
</div>